/* Mobile style  */
/* @media only screen and (max-width:688px) {
    .nav {
        background-color: #fff;
    }
} */

h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
}

/* body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
} */

/* header style start  */


nav {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
}

.menu {
    margin-top: 25px;

}

/* heading style end  */
/* top section style  start*/

.top {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;

}

.top-b {
    margin-left: 10%;
    background-image: url(images/Circle\ design.svg);
    background-size: contain;
    background-repeat: no-repeat;


}

.top-c {
    background: #df2316;
    border-radius: 8px;
    padding: 10px 14px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: 10px;
    border: none;
    cursor: pointer;
}

/* top section style end  */

/* logo style start */
.logo-a {
    border: 2px solid silver;
    border-width: 100%;
    border-inline: 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-around;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;


    /* margin-right: 20%; */


}

.logo {
    padding-left: 1px;
}

/* logo style end */


/* items list section style start */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-left: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.item-a {
    text-align: center;
}

.item {
    border: 1px;
    border-radius: 5px;
    border-color: aliceblue;
    box-shadow: 20px 20px 40px 10px rgb(189, 183, 183);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.item img {
    width: 100%;
    height: 40%;

}

.see-more {
    text-align: right;
    color: red;
    margin-left: 10%;
    margin-right: 10%;
}

/* items list section style end */

.contain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

/* footer style start  */
.footer {
    height: 250px;
    width: 100% !important;
    background-color: blue;
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 3px;
}

.icon {
    border: 1px hidden;
    width: 20%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    margin-left: 40%;

}

/* footer style end  */